     <!-- middle header -->
     <div class="header__middle container">
        <!-- logo -->
        <a href="#" class="header__logo-box">
            <img class="header__logo" src="../../../assets/img/logo.png" alt="">
        </a>
        <!-- user options -->
        <div class="header__user-options">
            <!-- login control -->
            <a [routerLink]="'/login'" class="link">Login</a>
            <div class="dropdown">
                <div class="dropdown__header">
                    <div class="image image--small image--circle" style="background-image: url('../../../assets/img/PersonalImage.png')">
                    </div>
                </div>
                <div class="dropdown__body">

                </div>
            </div>
            <!-- shopping card dropdown -->
            <!-- dropdown--opened to open -->
            <div class="dropdown dropdown--left" [ngClass]="{'dropdown--opened': cartIsOpen}" (click)="cartIsOpen = !cartIsOpen">
                <!-- header -->
                <div class="dropdown__header">
                    <div class="image image--small" style="background-image: url('assets/img/icons/shopping-cart-outline-svgrepo-com.svg')">
                        <div class="notification notification--danger">
                            {{addedProduct}}
                        </div>
                    </div>
                </div>
                <!-- body -->
                <div class="dropdown__body">
                    <!-- items -->
                    <ul class="dropdown__items list list--vr-separator">
                        <li *ngFor="let product of addedProduct"  class="dropdown__item list__item">
                            <!-- item small 2 -->
                            <div class="item-small-1">
                                <!-- item data -->
                                <div class="item-small-1__data">
                                    <!-- title -->
                                    <a href=""   class="item-small-1__title">{{product.data[0]?.name}} X {{product?.price}}</a>
                                    <!-- price -->
                                    <span  class="item-small-1__description">
                                        {{product.count}} X ${{product?.price}}
                                    </span>
                                </div>
                                <!-- item image --> 
                                <div class="item-small-1__image-box">
                                    <a href="#" class="item-small-1__image image" [style]="'background-image: url'+'('+ product.imageUrls +')'">
                                    </a>
                                    <a href="#" (click)="delete(product)" class="item-small-1__action">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
               
                    </ul>
                    <!-- totals -->
                    <div class="separator"></div>
                    <div class="block">
                        <span class="lable">Total:</span>
                        <span class="lable">$2870</span>
                    </div>
                    <!-- actions -->
                    <div class="block list list--hr">
                        <a class="list-item btn btn--gray" href="">View Cart</a>
                        <a class="list-item btn btn--primary" href="">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- lower header -->
    <div class="header__lower container">
        <!-- navigation -->
        <nav class="nav">
            <ul class="nav__items list list--hr">
                <!-- items -->
                <li class="nav__item">
                    <a class="nav__link" routerLink="">Home</a>
                </li>
                <li class="nav__item dropdown ">
                    <!-- title -->
                    <a class="nav__link dropdown__header" href="#">
                        Products
                    </a>
                    <!-- items -->
                    <div class="dropdown__body">
                        <ul class=" list">
                            <li class="list__item">
                                <a class="nav__inner-link" [routerLink]="'/home'">Product Listing</a>
                            </li>
                            <li class="list__item">
                                <a class="nav__inner-link" [routerLink]="'/add-product'">Add Product</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav__item">
                    <a class="nav__link" [routerLink]="'/contact-us'">Contact Us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" [routerLink]="'/about-us'">About Us</a>
                </li>
            </ul>
        </nav>
    </div>